@import "tailwindcss";
@source "./index.html";

@layer utilities {
  .ui-control-reset {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    line-height: 1;
    font: inherit;
    box-sizing: border-box;
  }

  .ui-control-height {
    height: 3rem;
    min-height: 3rem;
  }

  @media (min-width: 768px) {
    .ui-control-height {
      height: 1.95rem;
      min-height: 1.95rem;
    }
  }
}
